/* Style Guide

body background-color: #ffffff;
form background-color: #d9d9d9;
text color: #353535;
accent color: #284b63;
 */

body {
    color: #353535;
    max-width: 800px;
}

#eventRegistrationForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #d9d9d9;
    border: 1px solid #284b63;
    border-radius: 18px;
    padding: 32px;
}