/* Style Guide

body background-color: #ffffff;
form background-color: #d9d9d9;
text color: #353535;
accent color: #284b63;
 */

body {
    color: #353535;
    max-width: 800px;
    margin: 0 auto;
    font-family: "Strichpunkt Sans", sans-serif;
}

#eventRegistrationForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #d9d9d9;
    border: 1px solid #284b63;
    border-radius: 18px;
    padding: 32px;
    margin: 18px;
}

label, p {
    font-size: 24px;
}

input {
    height: 30px;
}

#language-section {
    margin-top: -16px;
    padding-bottom: 16px;
}

.radio-btn {
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
}

.radio-btn > input {
    height: 18px;
    width: 18px;
}